* text=auto
*.css text eol=lf
*.js text eol=lf
*.svg text eol=lf
*.md text eol=lf
*.htm text eol=lf
*.html text eol=lf
*.txt text eol=lf
*.editorconfig text eol=lf
*.gitattributes text eol=lf
*.gitignore text eol=lf
*.sql text eol=crlf
*.bat text eol=crlf

#################################
# .NET
#################################
*.cs text eol=crlf diff=csharp
*.vb text eol=crlf
*.sln text eol=crlf
*.config text eol=crlf
*.csproj text eol=crlf
*.asax text eol=crlf
*.ascx text eol=crlf
*.aspx text eol=crlf
*.axaml text eol=crlf
*.cshtml text eol=crlf
*.master text eol=crlf
*.Master text eol=crlf
*.paml text eol=crlf
*.razor text eol=crlf
*.skin text eol=crlf
*.xaml text eol=crlf
*.xamlx text eol=crlf
*.xoml text eol=crlf
*.appxmanifest text eol=crlf
*.axml text eol=crlf
*.build text eol=crlf
*.dbml text eol=crlf
*.discomap text eol=crlf
*.dtd text eol=crlf
*.jsproj text eol=crlf
*.lsproj text eol=crlf
*.njsproj text eol=crlf
*.nuspec text eol=crlf
*.proj text eol=crlf
*.props text eol=crlf
*.resw text eol=crlf
*.resx text eol=crlf
*.StyleCop text eol=crlf
*.targets text eol=crlf
*.tasks text eol=crlf
*.vbproj text eol=crlf
*.xml text eol=crlf
*.xsd  text eol=crlf
*.vcxproj text eol=crlf
*.vcproj text eol=crlf
*.dbproj text eol=crlf
*.fsproj text eol=crlf
*.wixproj text eol=crlf
*.modelproj text eol=crlf
*.sqlproj text eol=crlf
*.wmaproj text eol=crlf
*.xproj text eol=crlf
*.filters text eol=crlf
*.vcxitems text eol=crlf
*.DotSettings text eol=crlf
*.pubxml text eol=crlf